@import "../Helpers/mixins.scss";

.worked {
  margin-bottom: 100px;

  @include onTablet {
    margin-bottom: 50px;
  }

  &__header {
    color: hwb(37 12% 5%);
    font-size: 100px;
    font-weight: 800;
    margin: 0px;

    @include onTablet {
      font-size: 80px;
    }

    @include mobileOnly {
      font-size: 40px;
      font-weight: 800;
    }
  }

  &__skills {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      flex-wrap: wrap;
    }
  }

  &__skill {
    width: 80px;
    height: 80px;
    margin-right: 40px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include mobileOnly {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  &__experience {
    margin-bottom: 50px;
  }

  &__place {
    font-style: italic;
    font-weight: 600;
  }
}